*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.container{
    background: linear-gradient(270deg, rgba(0, 255, 255, 0.295) 0%, rgba(144, 144, 144, 0.418) 40%, rgba(144, 144, 144, 0.315) 60%, rgba(4, 255, 4, 0.342) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    gap: 16px;
}

.item{
    height: 150px;
    width: 80%;
    background-color: #909090;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 16px;
    border-radius: 10px;
    border: 3px solid #04ff04;
}

.texto{
    color: #04ff04;
    font-size: 64px;
}

.forma{
    height: 100px;
    width: 100px;
    background-color: #04ff04;
    cursor: pointer;
    border-radius: 10px;
    transition: 1s;
}

.vermelho{
    background-color: #00ffff;
}

.circulo{
    border-radius: 50%;
    background-color: #00ffff;
}

.girar{
    transform: rotate(0.5turn);
    background-color: #00ffff;
}

.triangulo{
    background-color:#909090;
    background-image: url(./img/icons8-triângulo-96.png);
}


.mover{
    translate: -900px;
    background-color: #00ffff;
    transition: 2s;
}

.rotacao{
    transform: rotate3d(1, 2, -1, 360deg);
    background-color: #00ffff;
}